{% extends 'basecamp/base_full.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1 class="my-3">About Me</h1>
            <h3 class="my-3">Tony Moon</h3>
            <br/>
            <h4 class="my-2">My name is Tony Moon and I'm senior year student and studying Computer Science and Software Engineering at the University of Washington Bothell. </h4>
            <br/>
            <h4 class="my-2">Now, I'm looking for an internship or entry-level position in Software Engineering. </h4>
            <br/>
            <h4 class="my-2">This blog is built on Django with bootstrap. </h4>
            <h4 class="my-2">I started this blog because I want to note what I'm learning and share my ideas and works.  </h4>
            <br/>
            <h4 class="my-2">If you questions, please leave comments or send me email. </h4>
            <h4 class="my-2">I always appreciate your idea and feedback. </h4>
            <br/>

        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="{% static 'basecamp/images/내사진.jpeg' %}"/>
        </div>
    </div>
    <div class="row">
<!--        <div class="col-md-3">-->
<!--            <img class="img-fluid" src="{% static 'basecamp/images/바다사자.jpg' %}"/>-->
<!--        </div>-->
        <div class="col-md-6">
            <h2 class="my-3">Contact me</h2>
            <h3>Email: <small>tonycontinue@gamil.com</small></h3>
            <h3>LinkedIn: <small><a href="https://www.linkedin.com/in/tony-moon/"> https://www.linkedin.com/in/tony-moon/ </a></small></h3>
        </div>
    </div>
</div>
{% endblock %}