{% extends 'basecamp/base_full.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1 class="my-3">About Me</h1>
            <br/>
            <h3 class="my-3">Tony Moon</h3>

            <h5class="my-2">기다린다</h5>
            <p>python, django</p>
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="{% static 'basecamp/images/바다사자.jpg' %}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid" src="{% static 'basecamp/images/바다사자.jpg' %}"/>
        </div>
        <div class="col-md-3">
            <h1 class="my-3">Contact me</h1>
            <h3>Email: <small>!!!@google.com</small></h3>
        </div>
    </div>
</div>
{% endblock %}